<section>
    <div class="page-header">
        <h1><i class="md md-input"></i>Consulta de Responsabilidades Administrativas de los Servidores Públicos</h1>
        <p class="lead">
            *Expediente PAR/INEE/00018/2016*
        </p>
    </div>
    <div class="row m-b-40">
        <div class="well white">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
                    <li role="presentation" class="active">
                        <a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">Resumen</a>
                    </li>
                    <li role="presentation" class="">
                        <a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Radicación del expediente</a>
                    </li>
                    <li role="presentation">
                        <a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Audiencia de ley</a>
                    </li>
                    <li role="presentation">
                        <a ng-click="actionTab=4" aria-controls="home" role="tab" data-toggle="tab">Desahogo de pruebas</a>
                    </li>
                    <li role="presentation">
                        <a ng-click="actionTab=5" aria-controls="home" role="tab" data-toggle="tab">Resolución</a>
                    </li>
                    <li role="presentation">
                        <a ng-click="actionTab=6" aria-controls="home" role="tab" data-toggle="tab">Impugnaciones</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content m-t-10">
                    <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">
                        <div class="row">
                            <div class="col-md-8">
                                <form class="form-horizontal placeholder-form">
                                    <fieldset>
                                        <legend>Datos generales</legend>
                                        <div class="form-group">
                                            <label for="inputAuditoria" class="col-lg-2 control-label">Número de auditoria</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="inputAuditoria" placeholder="123456">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-2 control-label">Fecha del acuerdo</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" placeholder="11/22/3333" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                            </div>
                                        </div>
                                        <legend>Presunto(s) Responsable(s)</legend>
                                        <h5>Responsable 1:</h5>
                                        <div class="form-group">
                                            <label for="inputAuditoria" class="col-lg-2 control-label">Nombre completo</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="inputAuditoria" placeholder="Nombre Nombre Apellido Apellido">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAuditoria" class="col-lg-2 control-label">Nombre del cargo</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="inputAuditoria" placeholder="Nombre del cargo">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAuditoria" class="col-lg-2 control-label">Área de adscripción</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="inputAuditoria" placeholder="Area de adscripción donde está asignado el responsable">
                                            </div>
                                        </div>
                                        <h5>Responsable 2:</h5>
                                        <div class="form-group">
                                            <label for="inputAuditoria" class="col-lg-2 control-label">Nombre completo</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="inputAuditoria" placeholder="Nombre Nombre Apellido Apellido">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAuditoria" class="col-lg-2 control-label">Nombre del cargo</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="inputAuditoria" placeholder="Nombre del cargo">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAuditoria" class="col-lg-2 control-label">Área de adscripción</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="inputAuditoria" placeholder="Area de adscripción donde está asignado el responsable">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <h5>Estatus del expediente:</h5>
                                <div class="row">
                                    <div class="col-xs-12 text-success">
                                        Radicación del Expediente
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 60%;"></div>
                                        </div>
                                        <p class="text-success small no-margin">Realizado</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-info">
                                        Audiencia de Ley
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" style="width: 60%;"></div>
                                        </div>
                                        <p class="text-info small no-margin">10 días restantes</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        Desahogo de pruebas
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-grey" style="width: 60%;"></div>
                                        </div>
                                        <p class="small no-margin">No iniciado</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        Resolución
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-grey" style="width: 60%;"></div>
                                        </div>
                                        <p class="small no-margin">No iniciado</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        Inpugnaciones
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-grey" style="width: 60%;"></div>
                                        </div>
                                        <p class="small no-margin">No iniciado</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal placeholder-form">
                                    <fieldset>
                                        <legend>Acuerdo de radicación del Expediente</legend>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Fecha de Acuerdo de Radicación:</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Al:</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5>Presunto(s) Responsable(s)</h5>
                                        <div class="row no-margin">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-2 control-label">Nombre completo</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" placeholder="Nombre Nombre Apellido Apellido" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-2 control-label">Nombre del cargo</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" placeholder="Cargo asignado al responsable" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="textArea" class="col-lg-2 control-label">Descripción de los hechos</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control vertical" rows="3" id="textArea" placeholder="Descripción de los hechos realizada por el responsable"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label normal">¿Presenta suspensión?</label>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Si
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row no-margin">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-2 control-label">Nombre completo</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" placeholder="Nombre Nombre Apellido Apellido" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-2 control-label">Nombre del cargo</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" placeholder="Cargo asignado al responsable" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="textArea" class="col-lg-2 control-label">Descripción de los hechos</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control vertical" rows="3" id="textArea" placeholder="Descripción de los hechos realizada por el responsable"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label normal">¿Presenta suspensión?</label>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Si
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <form class="form-horizontal placeholder-form">
                                    <fieldset>
                                        <legend>Registro de suspensión</legend>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Fecha de Acuerdo de Suspensión:</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Fecha de notificación</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5>Destinatario(s)</h5>
                                        <div class="row no-margin">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-2 control-label">Nombre completo</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" placeholder="Introduzca el nombre completo" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-2 control-label">Nombre del cargo</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" ng-model="etapa.id" ng-options="etapa.id as etapa.tipo for etapa in tipo_Etapas" ng-disabled="mostrarDivProcedencia==true">
                                                            <option value=""> Seleccione un cargo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="reset" class="btn btn-default btn-sm">Agregar destinatario</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Fecha de inicio de Suspensión:</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Fecha de término de Suspensión:</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textArea" class="col-lg-2 control-label">Observaciones</label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control vertical" rows="3" id="textArea" placeholder="Descripción de los hechos realizada por el responsable"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <form class="form-horizontal placeholder-form">
                                    <fieldset>
                                        <legend>Emisión del Oficio Citatorio</legend>
                                        <h5>Presunto(s) Responsable(s)</h5>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-2 control-label">Nombre completo</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" placeholder="Introduzca el nombre completo" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-2 control-label">Nombre del cargo</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" placeholder="Nombre del cargo elegido" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-2 control-label">Número de Oficio Citatorio</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" placeholder="11223344" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Fecha de la audiencia:</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-lg-4 control-label">Hora de audiencia:</label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <form class="form-horizontal placeholder-form">
                                    <fieldset>
                                        <legend>Notificación del Oficio Citatorio</legend>
                                        <div class="form-group" ">
                                          <label class="col-lg-2 control-label ">¿Se notificó personalmente al Presunto Responsable?</label>
                                          <div class="col-lg-10 ">
                                              <div class="radio-inline ">
                                                  <label>
                                                      <input type="radio " name="optionsRadios " id="optionsRadios1 " value="true "> Si
                                                  </label>
                                              </div>
                                              <div class="radio-inline ">
                                                  <label>
                                                      <input type="radio " name="optionsRadios " id="optionsRadios2 " value="false "> No
                                                  </label>
                                              </div>
                                          </div>
                                      </div>
                                        <div class="row ">
                                            <div class="col-md-6 ">
                                                <div class="form-group ">
                                                    <label for="inputEmail " class="col-lg-4 control-label ">Fecha de la notificación:</label>
                                                    <div class="col-lg-8 ">
                                                        <input class="form-control " placeholder="Seleccione una fecha " ng-model="fecha.seleccionada " datetime-picker date-format="yyyy-MM-dd " date-only ng-disabled="mostrarDivProcedencia==true ">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group ">
                                                    <label for="inputEmail " class="col-lg-4 control-label ">Hora de notificación:</label>
                                                    <div class="col-lg-8 ">
                                                        <input class="form-control " placeholder="Seleccione una fecha " ng-model="fecha.seleccionada " datetime-picker date-format="yyyy-MM-dd " date-only ng-disabled="mostrarDivProcedencia==true ">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                <div class="form-group ">
                                                    <label for="textArea " class="col-lg-2 control-label ">¿Como se notificó?</label>
                                                    <div class="col-lg-10 ">
                                                        <textarea class="form-control vertical " rows="3 " id="textArea " placeholder="Observaciones "></textarea>
                                                    </div>
                                                </div>                                        
                                        <div class="row no-margin ">
                                            <div class="form-group col-md-12 ">
                                                <a href="#!/nueva_inconformidad ">
                                                    <button type="submit " class="btn btn-primary ">Guardar</button>
                                                </a>
                                                <a href="#!/ ">
                                                    <button type="reset " class="btn btn-default ">Cancelar</button>
                                                </a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel " class="tab-pane " ng-class="{active: actionTab==3} ">
                        3
                    </div>
                    <div role="tabpanel " class="tab-pane " ng-class="{active: actionTab==4} ">
                        4
                    </div>
                    <div role="tabpanel " class="tab-pane " ng-class="{active: actionTab==5} ">
                        5
                    </div>
                    <div role="tabpanel " class="tab-pane " ng-class="{active: actionTab==6} ">
                        6
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>