<div class="row">
    
    <div class="col-md-2">
        <aside class="sidebar fixed">
            <div class="brand-logo grey lighten-3">
                <img src="img/inee-logo-simple.png" title="INEE" class="img-responsive">
            </div>
            <div class="user-logged-in">
                <div class="content">
                    <div class="user-name">{{usuarioCookieI}}</div>
                    <div class="user-email">{{usuarioCookieI}}@DOMINIO.COM</div>
                    <div class="user-actions pull-right">
                        <a href="" ng-click="logout()">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
            <ul class="menu-links" ng-cloak>
                <a menu-link href="#/dashboard" icon="md md-blur-on">Bienvenidos</a>
                <a menu-link href="#!/nueva_inconformidad" icon="md md-blur-on">Nueva inconformidad</a>
            </ul><!-- 
            <div class="row col-md-12 text-center">
                <span>Versión<strong>{{mc.version}}</strong></span>
            </div> -->
        </aside>
    </div>

<div class="col-md-10">
    <ul class="breadcrumb">
            <li><a href="">INEE</a></li>
            <li>Nueva inconformidad</li>
        </ul>
<section class="forms-basic">
    <h1>Sistema de inconformidades</h1>
    <br>
    <div class="page-header">
        <h1>
        <i class="material-icons">add</i>
      Registro de nueva Inconformidad
    </h1>
        <p class="lead">
            <!-- TExT      -->
        </p>
    </div>
    <div class="row m-b-40">
        <div class="col-md-2 col-md-push-9">
            <h5>TÍTULO DE AYUDA</h5>
            <p>Texto de ayuda</p>
        </div>
        <div class="col-md-9 col-md-pull-2">
            <div class="well white">
                <form class="form-horizontal placeholder-form" ng-submit="activarDiv()">
                    <fieldset>
                        <legend class="p-t-20 p-b-10">Datos generales</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Fecha del escrito</label>
                            <div class="col-lg-10">
                                <input class="form-control" placeholder="Seleccione una fecha" ng-model="fecha.seleccionada" datetime-picker date-format="yyyy-MM-dd" date-only ng-disabled="mostrarDivProcedencia==true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Presenta</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Presenta" ng-model="presenta.seleccionada" ng-disabled="mostrarDivProcedencia==true" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Tipo de evento</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="elegido.id" ng-options="evento.id as evento.tipo for evento in tipo_Eventos" ng-disabled="mostrarDivProcedencia==true">
                                    <option value="">Seleccione un tipo de evento</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Número de Procedimiento de contratación</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Introduzca su número de procedimiento de contratación" ng-model="procedimiento.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Etapa</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="etapa.id" ng-options="etapa.id as etapa.tipo for etapa in tipo_Etapas" ng-disabled="mostrarDivProcedencia==true">
                                    <option value=""> Seleccione una etapa</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Bien o servicio a contratar</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Bien o servicio a contratar" ng-model="servicio.seleccionada" ng-disabled="mostrarDivProcedencia==true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Área Requiriente</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="area.id" ng-options="area.id as area.tipo for area in tipo_Areas" ng-disabled="mostrarDivProcedencia==true" >
                                    <option value="">Seleccione un área requiriente</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default" ng-show="mostrarDivProcedencia!=true">Cancelar</button>
                                <button type="submit" class="btn btn-primary" ng-show="mostrarDivProcedencia!=true">Guardar</button>
                            </div>
                        </div>
                         </form>
                         <form class="form-horizontal placeholder-form" ng-submit="activarDivProcedencia()">
                        <legend class="p-t-20 p-b-10" ng-show="mostrarDivProcedencia==true">Revisión del Acuerdo de Procedencia</legend>
                        <div class="form-group" ng-show="mostrarDivProcedencia==true">
                            <label class="col-lg-2 control-label">¿Está completo?</label>
                            <div class="col-lg-10">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" ng-model="revision" ng-click="cambiarEstado()" ng-disabled="deshabilitarRadio==true" > Si
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="false" ng-model="revision" ng-click="cambiarEstadoFalse()" ng-disabled="deshabilitarRadio==true" > No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="mostrarDivAbogados==true">
                            <label for="inputEmail" class="col-lg-2 control-label">Abogado responsables</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="abogado.id" ng-options="abogado.id as abogado.tipo for abogado in tipo_Abogados" ng-disabled="deshabilitarRadio==true" >
                                    <option value="">Seleccione un abogado</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="mostrarDivObservaciones==true">
                            <label for="textArea" class="col-lg-2 control-label">Observaciones</label>
                            <div class="col-lg-10">
                                <textarea class="form-control vertical" rows="3" id="textArea" placeholder="Observaciones del acuerdo de Procedencia" ng-model="observaciones.seleccionada" ng-disabled="ocultarDivObservaciones==true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default" ng-show="mostrarDivBoton==true" >Cancelar</button>
                                <button type="submit" class="btn btn-primary" ng-show="mostrarDivBoton==true">Guardar</button>
                            </div>
                        </div>
                        </form>
                        <form class="form-horizontal placeholder-form" ng-submit="activarDivPrevencion()">
                        <legend class="p-t-20 p-b-10" ng-show="mostrarInconforme==true">Prevención al Inconforme</legend >
                        <div class="form-group" ng-show="mostrarInconforme==true">
                            <label class="col-lg-2 control-label" ng-show="mostrarInconforme==true">¿Existe prevención?</label>
                            <div class="col-lg-10" ng-show="mostrarDivInconforme==true">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios3" id="optionsRadios3" value="true" ng-model="revisionInconforme" ng-click="cambiarEstadoInconforme()" ng-disabled="ocultarDivInconforme==true" > Si
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios4" id="optionsRadios4" value="false" ng-model="revisionInconforme" ng-disabled="ocultarDivInconforme==true"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="mostrarRespuesta==true">
                            <label for="inputEmail" class="col-lg-2 control-label">Respuesta</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="respuesta.id" ng-options="respuesta.id as respuesta.tipo for respuesta in tipo_Respuesta" ng-disabled="divMostrarBoton==false">
                                    <option value="">Seleccione una respuesta</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="mostrarRespuesta==true">
                            <label for="inputEmail" class="col-lg-2 control-label">Fecha del oficio</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" placeholder="Datepicker" ng-model="oficio.seleccionada" ng-disabled="divMostrarBoton==false">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default" ng-show="divMostrarBoton==true" >Cancelar</button>
                                <button type="submit" class="btn btn-primary" ng-show="divMostrarBoton==true">Guardar</button>
                            </div>
                        </div>
                        </form>
                        <form class="form-horizontal placeholder-form" ng-submit="activarDivAcuerdo()">
                        <legend class="p-t-20 p-b-10" ng-show="mostrarAcuerdoImprocedencia==true">Registro de Acuerdo de improcedencia</legend>
                        <div class="form-group" ng-show="mostrarAcuerdoImprocedencia==true">
                            <label for="inputEmail" class="col-lg-2 control-label">Fecha</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" placeholder="Datepicker" ng-model="acuerdo.seleccionada" ng-disabled="divOcultarMotivo==true">
                            </div>
                        </div>
                        <div class="form-group" ng-show="mostrarAcuerdoImprocedencia==true">
                            <label for="textArea" class="col-lg-2 control-label">Motivo</label>
                            <div class="col-lg-10">
                                <textarea class="form-control vertical" rows="3" id="textArea" placeholder="Justificación" ng-model="motivo.seleccionada" ng-disabled="divOcultarMotivo==true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default" ng-show="divMostrarAcuerdo==true" >Cancelar</button>
                                <button type="submit" class="btn btn-primary" ng-show="divMostrarAcuerdo==true">Guardar</button>
                            </div>
                        </div>
                          </form>
                        <legend class="p-t-20 p-b-10" ng-show="mostrarCita==true">Inpugnación de improcedencia</legend>
                        <div class="form-group" ng-show="mostrarCita==true">
                            <label for="inputEmail" class="col-lg-2 control-label">Modo</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="modo.id" ng-options="modo.id as modo.tipo for modo in tipo_Modo" ng-disabled="ocultarDivNotificacion==true">
                                    <option value="">Seleccione un modo de inpugnación</option>
                                </select>
                            </div>
                        </div>
                         <form class="form-horizontal placeholder-form" ng-submit="activarDivNotificacion()">
                        <legend class="p-t-20 p-b-10" ng-show="mostrarAcuerdoImprocedencia==true">Notificación de improcedencia</legend>
                        <div class="form-group" ng-show="mostrarAcuerdoImprocedencia==true">
                            <label class="col-lg-2 control-label">¿Se notificó personalmente al inconforme?</label>
                            <div class="col-lg-10">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios5" id="optionsRadios5" value="true" ng-model="notificacionImprocedencia" ng-click="cambiarEstadoImprocedencia()" ng-disabled="ocultarDivNotificacion==true"> Si
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optionsRadios6" id="optionsRadios6" value="false" ng-model="notificacionImprocedencia" ng-click="cambiarEstadoImprocedenciaFalse()" ng-disabled="ocultarDivNotificacion==true"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <legend class="small" ng-show="mostrarObservacionesCitatorio==true">Notificación con citatorio previo</legend>
                        <div class="form-group" ng-show="mostrarCita==true">
                            <label for="inputEmail" class="col-lg-2 control-label">Fecha del oficio</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" placeholder="Datepicker" ng-model="cita.seleccionada" ng-disabled="ocultarDivNotificacion==true">
                            </div>
                        </div>
                        <div class="form-group" ng-show="mostrarCita==true">
                            <label for="inputEmail" class="col-lg-2 control-label">Hora del oficio</label>
                            <div class="col-lg-6">
                                <input type="time" class="form-control" placeholder="Timepicker" ng-model="hora.seleccionada" ng-disabled="ocultarDivNotificacion==true">
                            </div>
                        </div>

                        <div class="form-group" ng-show="mostrarObservacionesCitatorio==true">
                            <label for="textArea" class="col-lg-2 control-label">Observaciones</label>
                            <div class="col-lg-10">
                                <textarea class="form-control vertical" rows="3" id="textArea" placeholder="Observaciones de la notificación con citatorio previo" ng-model="observacionesCitatorio.seleccionada" ng-disabled="ocultarDivNotificacion==true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default" ng-show="divMostrarNotificacion==true" >Cancelar</button>
                                <button type="submit" class="btn btn-primary" ng-show="divMostrarNotificacion==true">Guardar</button>
                            </div>
                        </div>
                        </form>
                    </fieldset>
               
            </div>
        </div>
    </div>
</section>

</div>
</div>