<section>
    <div class="page-header">
        <h1><i class="md md-input"></i>Nuevo registro de servidor público</h1>
        <p class="lead">
            Descripción de pantalla
        </p>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <h5 class="text-warning">Importante</h5>
            <p>A partir del 19 de Julio del 2017 todos los Procedimientos Administrativos de Responsabilidades se llevarán a cabo bajo la *Ley General de Responsabilidades Administrativas (LGRA)*, en caso contrario bajo la *Ley Federal de Responsabilidades Administrativas de los Servidores Públicos (LFRASP)*</p>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <div class="row">
                <form class="form-floating">
                    <div class="col-md-8">
                        <div class="well white">
                            <fieldset>
                                <legend>Tipo de ley sobre la cual se iniciará el proceso</legend>
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Ley Federal de Responsabilidades Administrativas de los Servidores Públicos (LFRASP)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Ley General de Responsabilidades Administrativas (LGRA)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well white">
                            <fieldset>
                                <legend>Origen del expediente</legend>
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Auditoría interna
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Quejas
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <a href="#!/nueva_inconformidad"><button type="submit" class="btn btn-primary">Acceder</button></a>
                            <a href="#!/"><button type="reset" class="btn btn-default">Cancelar</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>